@import url('https://fonts.googleapis.com/css2?family=Roboto');

:root {
  --primary-blue: #1fa1e7;
  --primary-green: #369e1c;
  --very-green: #3ce612;
  --primary-red: #f03a3a;
  --primary-yellow: #ffc007;
  --primary-purple: #800080;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* Global Variables */
.border-positive {
  border-bottom: 8px solid var(--primary-blue);
}

.border-recovered {
  border-bottom: 8px solid var(--primary-green);
}

.border-deaths {
  border-bottom: 8px solid var(--primary-red);
}

.border-doses {
  border-bottom: 8px solid var(--primary-yellow);
}

.border-vaccines {
  border-bottom: 8px solid var(--primary-purple);
}

.table {
  margin-top: 1rem;
  margin-bottom: 5rem;
}

.card {
  box-shadow: 0 0 10px rgba(0,0,0,.2);
}

.filter-table {
  padding-left: 0;
}