@import url('https://fonts.googleapis.com/css2?family=Roboto');

:root {
  --primary-blue: #1fa1e7;
  --bright-blue: #007bff;
  --primary-green: #369e1c;
  --very-green: #3ce612;
  --primary-red: #f03a3a;
  --primary-yellow: #ffc007;
  --primary-purple: #800080;
  --star-yellow: #FEDD33;
  --primary-black: #343a40;
}

body {
  font-family: 'Roboto', sans-serif;
}

th {
  position: sticky;
  top: 54px;
  background: #fff;
}

th > span {
  display: flex;
  align-items: center;
  justify-content: center;
}

th > span i {
  padding-left: 5px;
}

/* Input fields */
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
    border-color: none;
}

a {
  color: #000;
  text-decoration: none;
}

/* bootstrap modifications */
.padded {
  padding-top: 55px;
}

.nav-tabs .nav-link.active {
  border-top: 2px var(--bright-blue) solid !important;
  color: var(--bright-blue) !important;
}

.alert {
  margin-top: 1rem;
}

.card {
  opacity: 0;
  animation: ani 0.75s ease-out 0.5s forwards;
}

.card > .card-body h5 {
  opacity: 0;
  animation: ani 0.75s ease-out 1s forwards;
}

.card > .card-body p {
  opacity: 0;
  animation: ani 0.75s ease-out 1s forwards;
}

.card > .card-body h3 {
  opacity: 0;
  animation: ani 0.75s ease-out 2s forwards;
}

.navbar-brand:active,
.nav-link:active {
  transform: scale(0.95);
}

/* Global Variables */
.border-positive {
  border-bottom: 8px solid var(--primary-blue);
}

.border-recovered {
  border-bottom: 8px solid var(--primary-green);
}

.border-deaths {
  border-bottom: 8px solid var(--primary-red);
}

.border-doses {
  border-bottom: 8px solid var(--primary-yellow);
}

.border-vaccines {
  border-bottom: 8px solid var(--primary-purple);
}

/* Cases Summary */
.card {
  box-shadow: 0 0 10px rgba(0,0,0,.2);
  margin: 0 3rem 5rem 0;
}

/* Cases By Region CSS */
.table-wrapper {
  width: 100%;
}

.table {
  margin-top: 1rem;
  margin-bottom: 5rem;
}

.filtered {
  margin-bottom: 15rem;
}

.filter-table {
  padding-left: 0;
}

.star {
  color: var(--star-yellow)
}

/* Charts */
.charts {
  display: flex;
  align-items: center;
  justify-content: center;
}

.charts > div {
  flex-basis: 50%;
}

.charts canvas {
  width: 50%;
}

.tabs {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.tabs span {
  font-size: 14px;
}

.tabs li {
  list-style-type: none;
  font-size: 14px;
  padding: 0 0.25rem;
  cursor: pointer;
  border-right: 2px #dee2e6 solid;
}

.tabs li:hover {
  opacity: 0.7;
}

.tabs li.tabs-active {
  text-decoration: underline;
  color: var(--bright-blue);
}

@media (max-width: 767px) {
  .table {
    display: inline-block;
    overflow: scroll;
  }

  .card {
    margin: 0 0 1em 0 !important;
  }

  .row {
    margin: 0 !important;
  }
}

@keyframes ani {
  100% {
    opacity: 1;
  }
}