@import url('https://fonts.googleapis.com/css2?family=Roboto');

:root {
  --primary-blue: #1fa1e7;
  --primary-green: #3fcf1a;
  --primary-red: #f03a3a;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* Global Variables */
.border-positive {
  border-bottom: 8px solid var(--primary-blue);
}

.border-recovered {
  border-bottom: 8px solid var(--primary-green)
}

.border-deaths {
  border-bottom: 8px solid var(--primary-red)
}

.table {
  margin-top: 2rem;
}